VERIFY_TOKEN=****
WHATSAPP_PHONE_NUMBER_ID=****
APP_SECRET=***

WHATSAPP_ACCESS_TOKEN=****

GROQ_API_KEY=*****

BASE_URL=https://8427-175-157-27-144.ngrok-free.app

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=***
TELEGRAM_WEBHOOK_SECRET=****